A3/schema1_draft.xsd

<!-- <!DOCTYPE ArrayOfItem[
<!ELEMENT ArrayOfItem (Item, (ItemId, Origin, Price, Title, Type)) >
<!ELEMENT ItemId (#PCDATA)>
<!ELEMENT Origin (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Type (#PCDATA)>
]> -->

<!-- 
<ArrayOfItem>
    <Item>
       <ItemId>DD248309244</ItemId>
       <Origin>Sweden</Origin>
       <Price>19.99</Price>
       <Title>Julost - Falbygdens - 1059 g</Title>
       <Type>Cheese</Type>
    </Item>
    <Item>
       <ItemId>248309272</ItemId>
       <Origin>Iceland</Origin>
       <Price>7.99</Price>
       <Title>Ísey Skyr Strawberry 170g</Title>
       <Type>Yogurt</Type>
    </Item>
 </ArrayOfItem>
  -->

<!-- While most of these fields could be any valid string, 
the ItemId field should be an integer and the Price field should be a decimal value. 
In addition, the Origin field is a country name, 
therefore only a restricted set of strings are permissible. 
For example, the following XML product lists should not conform to your schema. (Why?) 


[{
	"ItemId":"String content",
	"Origin":"String content",
	"Price":"String content",
	"Title":"String content",
	"Type":"String content"
}]



-->

<!-- <xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Backend.Dairy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Backend.Dairy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:integer" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Item" nillable="true" type="tns:Item" />
</xs:schema> -->


<!-- <?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="ArrayOfItem">
  <xs:sequence>
    <xs:element name="Item" type="Item"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="Item">
  <xs:sequence>
    <xs:element name="ItemId" type="xs:integer"/>
    <xs:element name="Origin" type="xs:string"/>
    <xs:element name="Price" type="xs:decimal"/>
    <xs:element name="Title" type="xs:string"/>
    <xs:element name="Type" type="xs:string"/>
  </xs:sequence>
</xs:complexType>

<xs:element name="ArrayOfItem" type="ArrayOfItem"/>



</xs:schema> -->

<!-- <?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Item">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ItemId" type="xs:integer"/>
        <xs:element name="Origin" type="xs:string"/>
        <xs:element name="Price" type="xs:decimal"/>
        <xs:element name="Title" type="xs:string"/>
        <xs:element name="Type" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ArrayOfItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema> -->

<!-- <?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="ItemArrayType">
    <xs:sequence>
      <xs:element name="Item" type="itemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element name="ItemId" type="xs:integer"/>
      <xs:element name="Origin" type="xs:string"/>
      <xs:element name="Price" type="xs:decimal"/>
      <xs:element name="Title" type="xs:string"/>
      <xs:element name="Type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ArrayOfItem" type="ItemArrayType"/>

</xs:schema> -->

<!-- <?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="phoneBookType">
<xs:sequence>
<xs:element name="entry" type="entryType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="owner" type="xs:string"/> </xs:complexType>

<xs:complexType name="entryType"> 
<xs:sequence>
<xs:element name="firstname" type="xs:string" minOccurs="0"/> 
<xs:element name="familyname" type="xs:string" minOccurs="0"/> 
<xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> 
</xs:sequence>
</xs:complexType>
<xs:element name="phonebook" type="phoneBookType"/>
</xs:schema> -->

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="ItemArrayType">
    <xs:sequence>
      <xs:element name="Item" type="itemType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element name="ItemId" type="xs:integer"/>
      <xs:element name="Origin" type="xs:string"/>
        <xs:complexType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="France"/>
            <xs:enumeration value="New Zealand"/>
            <xs:enumeration value="Sweden"/>
          </xs:restriction>
        </xs:complexType>
      <xs:element name="Price" type="xs:decimal"/>
      <xs:element name="Title" type="xs:string"/>
      <xs:element name="Type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="ArrayOfItem" type="ItemArrayType"/>

</xs:schema>

<!-- <?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:simpleType name="countryType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="France"/>
    <xs:enumeration value="New Zealand"/>
    <xs:enumeration value="Sweden"/>
  </xs:restriction>
</xs:simpleType>

  <xs:element name="ArrayOfItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item" maxOccurs="unbounded"> <!-- think of this as an entity -->
          <xs:complexType>
              <xs:sequence> <!-- below are like the attributes of the entity -->
                  <xs:element name="ItemId" type="xs:integer"/>
                  <xs:element name="Origin" type="countryType"/>
                  <xs:element name="Price" type="xs:decimal"/>
                  <xs:element name="Title" type="xs:string"/>
                  <xs:element name="Type" type="xs:string"/>
              </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> -->

<!-- THE CORRECT ONE -->
<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ArrayOfItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item" maxOccurs="unbounded"> <!-- think of this as an entity -->
          <xs:complexType>
              <xs:sequence> <!-- below are like the attributes of the entity -->
                  <xs:element name="ItemId" type="xs:integer"/>
                  <xs:element name="Origin">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="France"/>
                        <xs:enumeration value="New Zealand"/>
                        <xs:enumeration value="Sweden"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Price" type="xs:decimal"/>
                  <xs:element name="Title" type="xs:string"/>
                  <xs:element name="Type" type="xs:string"/>
              </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
