A3/tlap632-schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ArrayOfItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item" maxOccurs="unbounded"> <!-- think of this as an entity -->
          <xs:complexType>
              <xs:sequence> <!-- below are like the attributes of the entity -->
                  <xs:element name="ItemId" type="xs:integer"/>
                  <xs:element name="Origin">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Bulgaria"/>
                        <xs:enumeration value="Cyprus"/>
                        <xs:enumeration value="Denmark"/>
                        <xs:enumeration value="England"/>
                        <xs:enumeration value="France"/>
                        <xs:enumeration value="Greece"/>
                        <xs:enumeration value="Hungary"/>
                        <xs:enumeration value="Iceland"/>
                        <xs:enumeration value="India"/>
                        <xs:enumeration value="Italy"/>
                        <xs:enumeration value="Netherlands"/>
                        <xs:enumeration value="NZ"/>
                        <xs:enumeration value="Portugal"/>
                        <xs:enumeration value="Spain"/>
                        <xs:enumeration value="Sweden"/>
                        <xs:enumeration value="Switzerland"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Price" type="xs:decimal" minOccurs="0"/>
                  <xs:element name="Title" type="xs:string" minOccurs="0"/>
                  <xs:element name="Type" type="xs:string" minOccurs="0"/>
              </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>