A3/tlap632-schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:simpleType name="productType">
    <xs:restriction base="xs:string">
        <xs:enumeration value="Cheese"/>
        <xs:enumeration value="Milk"/>
        <xs:enumeration value="Butter"/>
        <xs:enumeration value="Cream"/>
        <xs:enumeration value="Yogurt"/>
    </xs:restriction>
</xs:simpleType>

<xs:complexType name="itemType">
    <xs:sequence>
        <xs:element name="Price" type="xs:decimal" minOccurs="0"/>
        <xs:element name="Title" type="xs:string" minOccurs="0"/>
        <xs:element name="Types">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="Type" type="productType" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="origin" type="xs:string" use="optional" default="NZ"/>
</xs:complexType>

  <xs:element name="ArrayOfItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item" type="itemType" minOccurs="0" maxOccurs="unbounded"/> 
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
